@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans, "geist"), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono, "geist mono"), monospace;
}

@theme inline {
  --font-sans: var(--font-geist-sans, "geist");
  --font-mono: var(--font-geist-mono, "geist mono"), monospace;

  --color-bg: #fff;
  --color-bg-2: #ddd;
  --color-bg-3: #999;
  --color-bg-alt: #01234f;
  --color-fg: #141e3c;
  --color-fg-2: #232d4b;

  --color-red: #da3633;
  --color-red-2: #cf2926;
  --color-green: #00c756;
  --color-green-2: #00ac8e;
  --color-blue: #01234f;
  --color-blue-2: #315efc;
  --color-yellow: #ffb347;
  --color-orange: #e57200;

  --color-border: #ddd;

  --color-pre: #f8f8f8;
  --color-code: #f2f2f2;
}

/* Animations */
@theme {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-in: fade-in 0.4s ease-out forwards;

  @keyframes bounce-circle {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1rem);
    }
  }
  --animate-bounce-delay: bounce-circle 0.6s ease-in-out infinite;
}

html {
  font-family: var(--font-geist-sans), arial, helvetica, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  overscroll-behavior: none;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-bg-alt, #315efc);
  color: white;
}

::placeholder {
  color: var(--color-bg-3);
}

/* Chatbot markdown styling */

code {
  font-family: var(--font-mono);
  background: var(--color-code);
  border-radius: 4px;
  padding: 2px;
}

pre {
  font-family: var(--font-mono);
  background: var(--color-pre);
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0;
  overflow: auto;

  /* Scrollbar stuff (thanks gpt) */
  scrollbar-color: var(--color-bg-2) var(--color-pre);
  &::-webkit-scrollbar-track {
    background: var(--color-pre);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-2);
    border-radius: 4px;
  }
}

pre code {
  background: var(--color-pre);
  border-radius: 0;
  padding: 0;
}
